<div class="container">
    <div class="card">
        <div class="card-header d-flex bd-highlight mb-3">
            <h3>Pacientes</h3>
            <button class="btn btn-primary ms-auto p-2 bd-highligh" routerLink="/personaAdd">Agregar</button>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                  <tr class="text-center">
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Telefono</th>
                  </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let persona of lista">
                        <td>{{persona.id}}</td>
                        <td>{{persona.nombre}}</td>
                        <td>{{persona.apellido}}</td>
                        <td>{{persona.direccion}}</td>
                        <td>{{persona.telefono}}</td>
                    <td> <button class="btn btn-primary" routerLink="/personaEditar">Editar</button></td>
                </tr>
                </tbody>
                </table>
        </div>
    </div>
</div>