<div class="container">
    <form action="">
        <label for="id"  class="form-label ">Id</label>
        <input class="form-control form-control-lg " type="number"id="id" name="id" [(ngModel)]="consultorioNuevo.id">

        <label  class="form-label" for="departamento">Departamento</label>
        <input class="form-control form-control-lg" type="text"id="departamento" name="departamento" [(ngModel)]="consultorioNuevo.departamento">

        <label  class="form-label"  for="municipio">Municipio</label>
        <input class="form-control form-control-lg" type="text"id="municipio" name="municipio" [(ngModel)]="consultorioNuevo.municipio">

        <label class="form-label"  for="direccion">Direccion</label>
        <input class="form-control form-control-lg" type="text"id="direccion" name="direccion" [(ngModel)]="consultorioNuevo.direccion">
   <br>
        <button class="btn btn-primary" (click)="agregarConsultorio()">Guardar</button>



      



    </form>
</div>